* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#ekstera {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    width: 100%;
    font-family: serif;
    /* la tekstujo kovru ne pli ol 30% de la ekrano laŭ alteco */
    height: 30vh;
}

#montrujo {
    border: solid 1px;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 1em;
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.trefacila { background-color: rgb(192, 255, 192); }
.facila    { background-color: rgb(192, 220, 255); }
.malfacila { background-color: rgb(255, 192, 192); }
